// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_black: #000;

$color_accent: #E6C744;
$color_descr: #C2C8DA;
$color_descr_2: #7F7F7F;
$color_descr_3: #7C7C7C;

// $color_hover: #F9995D;

$font_1: "Poppins", sans-serif;
$font_1: "Roboto", sans-serif;
$font_1: "Inter", sans-serif;
$transition_dur: 0.3s;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
