@use './helpers/abstracts' as *;

html {
	font-size: 10px;

	// @media (min-width: 1499.98px) and (max-width: 1799.98px) {
	// 	font-size: 8.5px;
	// }
	// @media (min-width: 1319.98px) and (max-width: 1499.98px) {
	// 	font-size: 7px;
	// }
	// @media (min-width: 1149.98px) and (max-width: 1319.98px) {
	// 	font-size: 6px;
	// }
	// @media (min-width: 1023.98px) and (max-width: 1149.98px) {
	// 	font-size: 5px;
	// }

}

html,
body {
	height: 100%;
	font-family: $font_1;
	font-weight: 400;
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;

	&.section--header {
		padding: 4.6rem 0 2.8rem 0;
	}

	&.section--hero {
		padding: 2.8rem 0 6.3rem 0;
	}

	&.section--new_arrivals {
		padding: 19rem 0 11rem 0;
	}

	&.section--download {
		padding: 11rem 0 22rem 0;
	}
}

.container {
	padding: 0 2rem;
	max-width: 192rem;
	width: 100%;

	margin: 0 auto;

	@media (min-width: $point_2) {
		&.container--header {
			padding: 0 10rem;
		}
	}

	&.container--hero {
		padding: 0 10rem;
	}

	&.container--padding_none {
		padding: 0 0;
	}

	
}

.section_title {
	display: flex;
	justify-content: flex-start;
	position: relative;
	font-weight: 900;
	font-size: 4.8rem;
	line-height: 1;

	color: $color_black;

	margin-bottom: 11.8rem;

	&::after {
		position: absolute;
		content: '';
		left: 19rem;
		bottom: 0;

		width: 19rem;
		height: 3.2rem;

		background-image: url(../imgs/hero/line.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		z-index: -1;
	}
}
