@use './helpers/abstracts' as *;

html {
	font-size: 10px;
}

html,
body {
	height: 100%;
	font-family: $font_1;
	font-weight: 400;
	scroll-behavior: smooth;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;

	&.section--header {
		padding: 4.6rem 0 6.2rem 0;
	}
}

.container {
	padding: 0 2rem;
	max-width: 192rem;
	width: 100%;

	margin: 0 auto;

	@media (min-width: $point_2) {
		&.container--header {
			padding: 0 10rem;
		}

		&.container--hero {
			padding: 0 10rem;
		}
	}
}
